*{
    font-family: 'Montserrat', sans-serif;
}

/* faq */

.faq{
    height: 850px;
}

.faq .text{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.questions{
    width: 60vw;
    margin: 100px auto;
}

.faq-item{
    width: 870px;
}

.faq-title{
    cursor: pointer;
    background: url('../img/Plus.png') no-repeat 100% 5px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #242f51;
    padding-bottom: 2vw;
}

.faq-input{
    appearance: none;
}

.faq-text{
    margin: 0 0 60px 0;
    width: 815px;
    display: none;
}

.faq-input:checked ~ .faq-text{
    margin-top: 30px;
    display: block;
}

.faq-input:checked + .faq-title{
    background: none;
    font-weight: 650;
}
